// subheadline
@font-face {
    font-family: subheadline;
    src: url(../font/FuturaPTLightOblique.otf);
}

@mixin subheadline {
    font-family: subheadline;
}

// futuraPtMedium
@font-face {
    font-family: futuraPTMedium;
    src: url(../font/FuturaPTMedium.otf);
}

@mixin shopbuttonfont {
    font-family: futuraPTMedium;
}

// nav font {
@mixin navigationfont {
    font-family: futuraPTMedium;
}

// headline font 
@font-face {
    font-family: EBGaramondRegular;
    src: url(../font/EBGaramond-Regular.ttf);
}

@mixin headlinefont {
    font-family: EBGaramondRegular;
}

// headline strong font 
@font-face {
    font-family: EBGaramondSemibold;
    src: url(../font/EBGaramond-SemiBold.ttf);
}

@mixin headlinefontStrong {
    font-family: EBGaramondSemibold;
}

// subheadline font 
@font-face {
    font-family: FuturaPTLightOblique;
    src: url(../font/FuturaPTLightOblique.otf);
}

@mixin subheadlinefont {
    font-family: FuturaPTLightOblique;
}

// featureshoetext
@font-face {
    font-family: FuturaPTBook;
    src: url(../font/FuturaPTBook.otf);
}

@mixin featureshoetext {
    font-family: FuturaPTBook;
}