@import 'colors';
@import 'fonts';
%listStyle {
    @include listTextfont;
    font-size: 20px;
    text-transform: capitalize;
    color: $white;
}

.footerSection {
    background-color: $darkergrey;
    height: 80vh;
}

.footerSection .container {
    display: grid;
    // justify-content: center;
    // width: 100%;
}

.footerSection ul li:nth-child(1) {
    @include storelistheaderfont;
    color: $white;
    font-size: 25px;
    text-transform: uppercase;
}

.footerSection ul li p {
    @extend %listStyle;
}

.footerSection ul {
    margin: 104px 83px 30px 83px
}

.footerSection ul li .ourOffice {
    margin-bottom: 8px
}

.footerSection ul li span {
    @extend %listStyle;
}