@import './variables.scss';
@import './colors';
.logo {
    @include logoSizes;
    padding-top: 35.24px;
}

.navbar {
    display: flex;
    margin-top: 75px;
    text-decoration: none;
    ul {
        display: flex;
        list-style: none;
        margin: auto;
        text-decoration: inherit;
        li {
            margin-right: 33px;
            text-decoration: inherit;
            a {
                text-decoration: none;
                color: $brown;
            }
        }
    }
}