.logo {
    height: 103.34503173828125px;
    width: 151.2010498046875px;
    left: 635.41748046875px;
    top: 35.24066162109375px;
    border-radius: 0px;
    width: 100px;
    height: 100px;
    text-align: center;
}