@import './variables.scss';
.logo {
    @include logoSizes;
    padding-top: 35.24px;
}

.navbar {
    width: 100%;
    margin: auto;
    ul {
        display: flex;
        list-style: none;
        margin: auto;
    }
}