@import 'colors';
@import 'fonts';
%listStyle {
    @include listTextfont;
    font-size: 20px;
    text-transform: capitalize;
    color: $darkergrey;
}

.shopfooterSection {
    background-color: $white;
    height: 100%;
    overflow: hidden;
}

.shopfooterSection .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.shopfooterSection ul li:nth-child(1) {
    @include storelistheaderfont;
    color: $darkergrey;
    font-size: 25px;
    text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
    .shopfooterSection ul:nth-child(2) {
        margin-left: 50px;
    }
    .shopfooterSection .container {
        transform: translateX(50px);
        margin-bottom: -80px;
    }
}

.shopfooterSection ul li p {
    @extend %listStyle;
}

.shopfooterSection ul {
    margin: 104px 0px 80px 0px
}

.shopfooterSection ul li .ourOffice {
    margin-bottom: 8px
}

.shopfooterSection ul li span {
    @extend %listStyle;
}

.logoblack {
    object-fit: contain;
    height: 203px - 80px;
    width: 251px - 80px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}