@import './colors';
@import './fonts';
// logo 
@mixin logoSizes {
    margin: 0 auto;
    display: flex;
}

@mixin headlines {
    @include headlinefont;
    color: $orangebrown;
    font-size: clamp(36px, 3.125vw, 48px);
}

@mixin headlineStrong {
    @include headlinefontStrong;
    color: $brown;
}