@import './colors';
@import './fonts';
@import './variables';
.AboutHeadline {
    @include headlines;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    strong {
        @include headlineStrong
    }
}