@import './colors';
@import './fonts';
@import './variables';
.AboutHeadline {
    @include headlines;
    width: 100%;
    margin-top: 100px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    word-spacing: 2em;
    strong {
        @include headlineStrong
    }
}