@use './about';
@use './_fonts';
@use './variables';
.AboutHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    margin-top: 100px;
    strong {
        @include headlineStrong
    }
}