@import './colors';
@import './fonts';
@import './variables';
.AboutHeadline {
    @include headlines;
    width: 100%;
    margin-top: 100px;
    display: flex;
    // position: relative;
    // margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    strong {
        @include headlineStrong
    }
}