@import './colors';
@import './fonts';
@import './variables';
.AboutHeadline {
    @include headlines;
    width: 100%;
    margin-top: 182px;
    strong {
        @include headlineStrong
    }
}

.aboutContent {
    @include aboutContentfont;
    font-size: 30px;
    color: $brown;
    width: 30%;
    position: relative;
    top: 100px;
    margin-bottom: 150px;
    justify-content: center;
}