@import './colors';
@import './fonts';
@import './variables';
.AboutHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    margin-top: 100px;
    margin: 0 auto;
    strong {
        @include headlineStrong
    }
}