            @import './colors';
            @import './fonts';
            @import './variables.scss';
            .firstpart {
                padding: 0px;
                margin: 0px;
                width: 100%;
                height: auto;
            }
            
            .headline {
                @include headlines;
                margin: 130px 0px 0px 150px;
                strong {
                    @include headlineStrong;
                }
            }
            
            .subheadline {
                @include subheadlinefont;
                margin: 0px 0px 0px 150px;
                font-size: 36px;
                color: $brown;
                width: 650px;
            }
            
            .grid-container {
                display: grid;
                height: 75vh;
                grid-template-columns: repeat(auto-fill, 1fr);
            }
            
            .shoeCol:nth-child(1) {
                grid-column: 1/span 3;
                grid-row: 1/span 3;
            }
            
            .shoeCol:nth-child(2) {
                grid-column: 2 /span 4;
                grid-row: 1/span 3;
            }
            
            .shoeCol:nth-child(3) {
                grid-column: 5/span 2;
                grid-row: 1/span 3;
            }
            
            .whiteAirs {
                max-width: 60%;
                transform: translate(0px, 140px);
            }
            
            .brownSneaker {
                max-width: 65%;
                transform: translate(35px, 230px);
            }
            
            .downwardShoe {
                max-width: 30%;
                transform: translate(40px, 85px);
            }
            
            .shopbutton {
                @include shopbuttonfont;
                height: 97.1953125px;
                width: 282px;
                background: $brown;
                color: $white;
                display: block;
                margin: 0 auto;
                font-size: 40px;
                outline: none;
                border: none;
                transform: translate(0px, 15px);
                margin-bottom: 110px;
            }
            
            // Browse sneakers section
            .secondpart {
                width: 100%;
                height: auto;
                background-color: $cream;
                margin: 0 auto;
            }
            
            .secondpart .grid-ContainerSecondpart {
                display: flex;
                height: 100vh;
                margin-top: 100px;
            }
            
            .secondpart .grid-ContainerSecondpart ul li {
                gap: 20px;
            }
            
            ul:nth-child(1) {
                text-align: center;
            }
            
            .secondpart .grid-ContainerSecondpart li:nth-child(1) {
                width: 60%;
                text-align: center;
                margin: 0 auto;
                display: flex;
            }
            
            .secondpart .grid-ContainerSecondpart li:nth-child(2) {
                margin-top: 100px
            }
            
            .secondpart-headline {
                @include headlinefont;
                color: $darkgrey;
                font-size: 40px;
            }
            
            %buttonstyle {
                @include shopbuttonfont;
                height: 91px;
                width: 289px;
                background-color: $darkgrey;
                font-size: 35px;
                color: $white;
                letter-spacing: 0.295em;
            }
            
            .Browse {
                @extend %buttonstyle;
                // transform: translate(0px, 100px);
            }
            
            %whiteboxStyle {
                height: 486px;
                width: 700px;
                background: $white;
            }
            
            .whiteBox {
                @extend %whiteboxStyle;
            }
            
            .new {
                @include navigationfont;
                font-size: 30px;
                color: $brown;
                text-align: end;
                margin: 10px 15px 0px 0px;
            }
            
            .mainheroSide {
                max-width: 90%;
                margin-top: 100px;
            }