@import './colors';
@import './fonts';
@import './variables.scss';
.homeSection {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: $white;
}

.headline {
    @include headlines;
    margin: 150px 0px 0px 297px;
    position: relative;
    strong {
        @include headlineStrong;
    }
}

.subheadline {
    @include subheadlinefont;
    margin: 0px 0px 0px 297px;
    font-size: 36px;
    color: $brown;
    width: 650px;
}

.whiteAirs {
    max-width: 30%;
    height: auto;
    transform: translate(210px, 0px);
}

.brownSneaker {
    max-width: 35%;
    height: auto;
    transform: translate(100px, 180px);
}

.downwardShoe {
    max-width: 8%;
    height: auto;
    transform: translate(180px, -40px);
}

.shopbutton {
    @include shopbuttonfont;
    height: 97.1953125px;
    width: 282px;
    background: $brown;
    color: $white;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    outline: none;
    border: none;
    transform: translate(2px, 100px);
}