@import './colors';
@import './fonts';
.homeSection {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: $white;
}

.headline {
    @include headlinefont;
    margin: 150px 0px 0px 297px;
    font-size: 48px;
    color: $orangebrown;
    strong {
        @include headlinefontStrong;
        color: $brown;
    }
}