@import './colors';
@import './fonts';
@import './variables.scss';
.homeSection {
    padding: 0px;
    margin: 0px;
    width: 100%;
    // height: 100vh;
    background-color: $white;
}

.headline {
    @include headlines;
    margin: 150px 0px 0px 297px;
    position: relative;
    strong {
        @include headlineStrong;
    }
}

.subheadline {
    @include subheadlinefont;
    margin: 0px 0px 0px 297px;
    font-size: 36px;
    color: $brown;
    width: 650px;
}

.whiteAirs {
    height: 148.5731201171875px;
    width: 292.8611755371094px;
    object-fit: contain;
    transform: translate(250px, -390px);
}

.brownSneaker {
    height: 579px;
    width: 454px;
    object-fit: contain;
    transform: translate(190px, 0px);
}

.downwardShoe {
    height: 244px;
    width: 1173px;
    object-fit: contain;
    transform: translate(560px, -615px);
}

.shopbutton {
    height: 97.1953125px;
    width: 282px;
    left: 581px;
    top: 1122px;
    background: $brown
}