@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    // height: 100vh;
}

.shop-gridcontainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
    background-color: $white;
}

.shopContainer ul li:nth-child(1) {
    grid-column: 2/ span 3;
    grid-row: 4/span 4;
    position: relative;
    left: 0px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
}

.shopContainer ul li:nth-child(2) {
    grid-column: 1/ span 3;
    grid-row: 9/ span 2;
    position: relative;
    top: -240px;
}

.shopContainer ul li:nth-child(3) {
    grid-column: 4/ span 3;
    grid-row: 8 /span 2;
    height: 100vh;
    position: relative;
}

.blueSneakers {
    max-width: 85%;
    top: -100px;
}

.displaySneakers {
    max-width: 46%;
    position: relative;
    left: 170px;
    top: 60px;
}

.shopSection .blueheels {
    position: absolute;
    max-width: 22%;
    top: -28px;
    right: 0;
    transform: rotateZ(4deg);
}

.shopHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    margin-top: 100px;
    strong {
        @include headlineStrong
    }
}

@media only screen and (max-width: 768px) {
    .shopHeadline {
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .shop-gridcontainer {
        list-style: none;
        display: grid;
        grid-template-columns: none;
        column-gap: 0px;
        background-color: $white;
        overflow: hidden;
    }
    .shopContainer ul li:nth-child(1) {
        grid-column: 1/ span 1;
        grid-row: 1/ span 3;
        text-align: center;
        position: relative;
        margin-top: 100px;
        top: 700;
        left: 0px;
        bottom: 0;
        right: 0;
    }
    .shopContainer ul li:nth-child(2) {
        grid-column: 1/ span 3;
        grid-row: 9/ span 2;
        position: relative;
        top: -180px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .shopContainer ul li:nth-child(3) {
        grid-column: 4/ span 3;
        grid-row: 8 /span 2;
        height: none;
        position: relative;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .blueSneakers {
        position: relative;
        margin: 0 auto;
        // max-width: 85%;
        top: 0px;
    }
    .displaySneakers {
        display: flex;
        margin: 0 auto;
        left: 0px;
        top: 0px;
    }
}