@import './colors';
@import './fonts';
@import './variables';
.shopSection div {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: $white;
}

.shopHeadline {
    @include headlines;
    width: 40%;
    // margin: 190px 0px 0px 150px;
    strong {
        @include headlineStrong
    }
}