@import './colors';
@import './fonts';
@import './variables';
.shopSection .secondpart {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: $cream;
}

.shopSection .Container .Row .Col {
    @include headlines;
    margin: 130px 0px 0px 150px;
    strong {
        @include headlineStrong
    }
}