@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    height: auto;
}

.shopHeadline {
    @include headlines;
    margin: 130px 0px 0px 150px;
    width: 20%;
    strong {
        @include headlineStrong
    }
}