@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
    height: 100vh;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.shopSecondPart {
    background-color: burlywood;
}

.shop-gridcontainer {
    // background-color: aqua;
}

.shop-gridColumn {
    display: grid;
    // background-color: red;
}

.shop-Container {
    position: relative;
    left: -50px;
    top: 100px;
    display: flex;
    justify-content: center;
}

.shop-gridColumn:nth-child(1) {
    grid-column: 1/span 2;
    transform: translate(150px, 100px);
    // margin: 100px 0px 0px -50px;
    // left: -50px;
    // top: 100px;
    // display: flex;
    // justify-content: center;
}

.shop-gridColumn:nth-child(2) {
    grid-column: 1/span 2;
    grid-row: 3/span 2;
}

.blueSneakers {
    max-width: 60%;
    position: relative;
    left: -400px;
}

.shopHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    strong {
        @include headlineStrong
    }
}

.shop-gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .shopHeadline {
        margin: 130px 0px 0px 0px;
        text-align: center;
    }
}