@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    // height: 100vh;
}

.shop-gridcontainer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // height: 100vh;
    column-gap: 5px;
    // row-gap: 20px;
}

.shopContainer ul li:nth-child(1) {
    grid-column: 2/ span 3;
    grid-row: 4/span 4;
    position: relative;
    left: 0px;
    background-color: chocolate;
    top: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
}

.shopContainer ul li:nth-child(2) {
    grid-column: 1/ span 3;
    grid-row: 9/ span 2;
    position: relative;
    top: -240px;
    background-color: rgb(30, 210, 171);
}

.shopContainer ul li:nth-child(3) {
    grid-column: 4/ span 3;
    grid-row: 8 /span 2;
    height: 100vh;
    background-color: rgb(36, 20, 179);
}

.shopContainer ul li .img-fluid {
    // max-width: 30%;
}

.shop-Container {
    // position: relative;
    // left: -50px;
    // top: 100px;
    // display: flex;
    // justify-content: center;
}

.blueSneakers {
    max-width: 85%;
    top: -100px;
    // left: 30px;
    // top: 160px;
}

.displaySneakers {
    max-width: 43%;
    position: relative;
    left: 100px;
    top: 100px;
}

.shopHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    margin-top: 100px;
    strong {
        @include headlineStrong
    }
}

.shop-gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

@media only screen and (max-width: 768px) {
    .shopHeadline {
        margin: 130px 0px 0px 0px;
        text-align: center;
    }
}