@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.shop-gridcontainer {
    list-style: none;
    display: grid;
    grid-template-columns: (6, 1fr);
    column-gap: 5px;
}

.shopContainer ul li:nth-child(1) {
    grid-column: 1/ span 2;
    grid-row: 1/span;
    background-color: burlywood;
}

.shopContainer ul li:nth-child(2) {
    grid-column: 3/ span 2;
    grid-row: 3/ span 2;
}

.shopContainer ul li:nth-child(3) {
    grid-column: 5/ span 2;
    grid-row: 5 /span 2;
}

.shopContainer ul li .img-fluid {
    max-width: 30%;
}

.shop-Container {
    // position: relative;
    // left: -50px;
    // top: 100px;
    // display: flex;
    // justify-content: center;
}

.blueSneakers {
    max-width: 75%;
    // position: relative;
    // left: 0px;
    // top: 160px;
}

.displaySneakers {
    max-width: 40%;
    // position: relative;
    // left: 0px;
    // top: 160px;
}

.shopHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    strong {
        @include headlineStrong
    }
}

.shop-gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}

@media only screen and (max-width: 768px) {
    .shopHeadline {
        margin: 130px 0px 0px 0px;
        text-align: center;
    }
}