@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
    height: 100vh;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    height: auto;
}

.shopHeadline {
    @include headlines;
    margin: 130px 0px 0px 300px;
    width: 100%;
    strong {
        @include headlineStrong
    }
}

@media only screen and (max-width: 768px) {
    .shopHeadline {
        margin: 130px 0px 0px 0px;
        text-align: center;
    }
}