@import './colors';
@import './fonts';
@import './variables';
.secondpart {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

.secondpart .Container .Row .Col {
    @include headlines;
    margin: 130px 0px 0px 150px;
    strong {
        @include headlineStrong
    }
}