@import './colors';
@import './fonts';
@import './variables';
.shopSection {
    background-color: $white;
    height: 100vh;
}

.shopSecondPart {
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.shop-Container {
    margin: 130px 320px 0px 0px;
    display: flex;
    justify-content: center;
}

.shopHeadline {
    @include headlines;
    width: 100%;
    text-align: start;
    strong {
        @include headlineStrong
    }
}

@media only screen and (max-width: 768px) {
    .shopHeadline {
        margin: 130px 0px 0px 0px;
        text-align: center;
    }
}