@import './colors';
@import './fonts';
@import './variables';
.shopSection .shopSecondPart {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.shopHeadline {
    @include headlines;
    margin: 190px 0px 0px 150px;
    // width: 30%;
    strong {
        @include headlineStrong
    }
}