@import './variables.scss';
@import './colors';
@import './fonts';
.detailPage {
    background-color: $darkergrey;
}

.singleProduct .productImage {}

.productImage {
    height: auto;
    width: 900px;
    background: $white;
    display: flex;
    flex-direction: column;
    padding: 4px;
}