@import './variables.scss';
@import './colors';
@import './fonts';
.detailPage {
    background-color: $darkergrey;
}

.productImage {
    height: 434.3610534667969px;
    width: 401px;
    left: 253px;
    top: 378.0415954589844px;
    border-radius: 0px;
    background: #FFFFFF;
}